name = "ecdotica-api"
main = "worker/index.js"
compatibility_date = "2024-11-20"

[env.production]
name = "ecdotica-api"
route = { pattern = "api.ecdotica.workers.dev/*", zone_name = "ecdotica.workers.dev" }
